[user]
	name = Brian Riley
	email = brian@btriley.com
[alias]
	st = status
  ci = commit
  graph = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
  rollback = reset HEAD^
[core]
	excludesfile = /Users/brian/.gitignore_global
[color]
	ui = true
[push]
	default = tracking
[rerere]
	enabled = true
