/.CFUserTextEncoding
*.DS_Store
/.Trash
/.bash_history
/.cabal
/.cups
/.dropbox
/.emacs.d
/.erlang.cookie
/.fontconfig
/.fonts
/.gem
/.ghc
/.history
/.heroku
/.irb-history
/.irb_history
/.jline-clojure.main.history
/.keepassx
/.lein
/.lesshst
/.local
/.m2
/.netrc
/.npm
/.pip
/.psql_history
/.pypirc
/.pythonhist
/.rediscli_history
/.rvm
/.sqlite_history
/.ssh
/.subversion
/.tmuxinator
/.tox
/.vagrant.d
/.vim/.netrwhist
/.viminfo
/.virtualenvs
/.vms
/.zcompdump
/.zsh/data
/Applications
/Desktop
/Documents
/Downloads
/Dropbox
/Library
/Movies
/Music
/Pictures
/Public
/Sites
/bin
/projects

*.pyc
*~
