[user]
	name = Brian Riley
	email = brian@btriley.com
[alias]
	st = status
    ci = commit
    lol = log --oneline --graph --decorate --all
[core]
	excludesfile = /Users/brian/.gitignore_global
[color]
	ui = true
[push]
	default = tracking
