[submodule ".vim/bundle/Command-T"]
	path = .vim/bundle/Command-T
	url = https://github.com/vim-scripts/Command-T.git
    ignore = untracked
[submodule ".vim/bundle/Dpaste.com-Plugin"]
	path = .vim/bundle/Dpaste.com-Plugin
	url = https://github.com/vim-scripts/Dpaste.com-Plugin.git
[submodule ".vim/bundle/Sorcerer"]
	path = .vim/bundle/Sorcerer
	url = https://github.com/vim-scripts/Sorcerer.git
[submodule ".vim/bundle/vim-powerline"]
	path = .vim/bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule ".vim/bundle/vim-commentary"]
	path = .vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
