/.CFUserTextEncoding
*.DS_Store
/.Trash
/.bash_history
/.cabal
/.cups
/.dropbox
/.emacs.d
/.fontconfig
/.fonts
/.gem
/.ghc
/.irb-history
/.irb_history
/.keepassx
/.lesshst
/.local
/.netrc
/.npm
/.pip
/.pypirc
/.pythonhist
/.rediscli_history
/.rvm
/.sqlite_history
/.ssh
/.subversion
/.tox
/.vagrant.d
/.vim/.netrwhist
/.viminfo
/.virtualenvs
/.vms
/.zcompdump
/.zsh/data
/Applications
/Desktop
/Documents
/Downloads
/Dropbox
/Library
/Movies
/Music
/Pictures
/Public
/Sites
/bin
/projects

*.pyc
*~
